:root {
    --primary-color: #00D9E1;
    --second-color:#EE4D2D;
    --hover-list-color:#f3f3f3;
    --background-primary-color:#f5f5f5;
    --star-gold:#FFCE3D;

    --btn-primary-color: #00D9E1;
    --btn-primary-color-hover:#40e3e9;
    --second-color-hover:#ee684d;
    --btn-info-color:#3D8C40;


    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ddd;

    --header-height:120px;
    --navbar-height:34px;
    --header-with-search:calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height:46px
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*Trick*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* Neu font-size 62.5% thi sau do ta test fontsize 1.2 rem se la 12px */
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;

}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/*Animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform:scale((var(--growth-to)))
    }
}

/* Modal */
.modal {
    --growth-form:0.7;
    --growth-to:1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: growth linear 0.1s;

}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 1;
}

/*Buttons styles*/
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--btn-primary-color);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding:0 8px;
}

.btn.btn--disable {
    cursor: default;
    background-color: #999;
    color: #ccc;
}

/* Selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding:0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-input:hover .select-input__list{
    display: block;
}

.select-input__label{
    font-size: 1.4rem;

}

.select-input__icon{
    font-size: 1.4rem;
    color:rgb(131,131,131);
    position: relative;
    top:1px;
}


.select-input__list{
    position: absolute;
    z-index: 1;
    list-style: none;
    left: 0;
    right: 0;
    padding: 0;
    top: calc(100% - 12px);
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

}
.select-input__list::before{
    display: block;
    position: absolute;
    content: "";
    height: 10px;
    width: 100%;
    top: -10px;
}
.select-input__link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 12px 0 6px 12px;
}
.select-input__link:hover{
   background-color: var(--hover-list-color);
   color: var(--primary-color);
}

/* #pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    
}
.pagination-item{
    list-style: none;
    margin:0 8px;
}


.pagination-item__link{
    --height:30px;
    text-decoration: none;
    color:#696969;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);

}

.pagination-item--active .pagination-item__link{
    color:var(--white-color);
    background-color: var(--second-color);
}
.pagination-item--active:hover .pagination-item__link{
    background-color: var(--second-color-hover);
}
